= simple_form_for([@make,@model]) do |f|
  - if @model.errors.any?
    #error_explanation
      %h2
        = pluralize(@model.errors.count, "error")
        prohibited this model from being saved:
      %ul
        - @model.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :model
  .actions
    = f.submit class: 'btn btn-default' 
